body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://i.pinimg.com/736x/71/d9/64/71d96455dda83f23194d56eec81131ae.jpg");
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    text-align: center;
    font-size: 80px;
    background: -webkit-linear-gradient(rgb(222, 22, 139), rgb(29, 59, 225));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ob
{
    text-align: center;
    margin-left: 0px;
    border-bottom: 12px double;
    border-top: 12px double;
    padding: 2em;
}
button
{
    margin-left:400px;
    font-weight: bold;
    background-color: #00d9ff;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
input[type="number"]
{
    border-radius: 0.5em white;
    font-size: 15px;
    padding: 0.5em;
}
#grid
{
    grid-template-columns: 1fr;
    grid-gap:1em;
}
#grid>img
{
    width: 5cm;
    height: auto;
    padding: 1.5em;
}
