body{
    background-image:url("https://www.xtrafondos.com/wallpapers/nubes-al-amanecer-arte-digital-7318.jpg");
    background-repeat: no repeat;
    background-size: cover;
 }
 .animate-charcter
 {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 90px;
    margin-left: 260px;
    padding-top: 5px ;
 }
 
 @keyframes textclip {
  to {
    background-position: 200% center;
  }
 }
 .box{
    background-color: rgb(138, 201, 226);
    width: 500px;
    height: 250px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 490px;
    text-align: center;
    opacity:0.7;
    box-shadow: rgb(245, 113, 113);
    padding-top: 100px;
 }
 input[type="text"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 10px 0 0 10px;
    outline: 0;
 }
 input[type="submit"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
    margin-left: 45px;
 }
 #weatherContainer{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgb(158, 236, 158);
    padding: 20px;
    border-radius:15px;
    height:150px;
    width:300px;
    box-shadow: 0 0 20px 2px #5e5d5da9 ;  
 }
 #weatherContainer{
    position:absolute;
    margin-left:10px;
    margin-top: 70px;
    top:65%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgb(139, 214, 233);
    padding-bottom: px;
    border-radius:15px;
    height:90px;
    width:300px;
    box-shadow: 0 0 20px 2px #5e5d5da9 ;
   
 }
 
 #cityName{
    position: absolute;
    top:3;
    left:0;
    font-size:10 px;
    width:290px;
 
 }
 
 #image{
    position: absolute;
    top:10px;
    right:10px;
    background:#c6ccc1;
    height: 100px;
    border-radius: 50%;
    border: 0.2px dotted black;
    box-shadow: 0 0 20px 2px #bfd485 ;
 }
 
 #temp{
    position: absolute;
    bottom:20px;
    left:10px;
    font-size: 5em;
 }
 
 #main{
    position: absolute;
    bottom:40px;
    right:10px;
    font-size: 2em;
 
 }
 
 #discription{
    position: absolute;
    bottom:5px;
    right:0px;
    font-size: 1.1em;
    background:rgba(216, 250, 239, 0.555);
    border-radius: 0 0 10px 10px;
 }